aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
camilladsp @ git+https://github.com/varungujjar/pycamilladsp.git@fdc0d163e02dd73206a493402b43c83502ad83d7
camilladsp_plot @ git+https://github.com/varungujjar/pycamilladsp-plot@e865ea2db6c9d1bac050a0d1c1144b8cc27c555a
frozenlist==1.8.0
idna==3.13
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
multidict==6.7.1
propcache==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
typing_extensions==4.15.0
websocket-client==1.9.0
yarl==1.23.0
